In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
## import data

In [6]:
# Jonathan Powell University of Central FL 
# https://www.jonathanmpowell.com/coup-detat-dataset.html

country_yr = pd.read_csv('powell_thyne_ccode_year.txt', sep="\t")

candidate = pd.read_csv('powell_thyne_coups_final.txt', sep="\t")

In [8]:
candidate.head()

  country  ccode  year  month  day  coup      version
0    Cuba     40  1952      3   10     2  V2020.10.13
1    Cuba     40  1957      9    5     1  V2020.10.13
2   Haiti     41  1950      5   10     2  V2020.10.13
3   Haiti     41  1956     12   12     2  V2020.10.13
4   Haiti     41  1957      4    2     2  V2020.10.13